<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <%= stylesheet_link_tag 'custom', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
    <h1>My Portfolio</h1>
    <%= link_to "ログアウト", logout_path, class: "button_logout", data: { "turbo-method": :delete } %>
    </header>
    <div class="toppage-container">
      <div class="profile-group">
        <div class="profile">
          <div class="avatar">
            <div class="image">
              <% if @user&.image&.attached? %>
                <%= image_tag @user.image, class: 'avatar-image' %>
              <% else %>
                <%= image_tag 'default_image.jpg', class: 'avatar-default' %>
              <% end %>
            </div>
            <div class="avatar-name">
              <%= current_user.name %>
            </div>
          </div>
          <div class="content">
            <h4>自己紹介</h4>
            <div class="text">
              自分の自己紹介文章が入ります。自分の自己紹介文章が入ります。自分の自己紹介文章が入ります。自分の自己紹介文章が入ります。自分の自己紹介文章が入ります。
              <%= @user.introduction %>
            </div>
            <div class="input-group">
              <%= link_to "自己紹介を編集する", edit_user_path(@user), class: "button_myedit" %>
           </div>
          </div>
        </div>
      </div>
      <div class="chart-group">
        <div class="chart-frame">
          <div class="input-group">
            <h5>学習チャート</h5>
            <%= link_to "編集する", edit_skill_path(@user), class: "button-edit" %>
          </div>
          <div class="chart-title">Chart.js Bar Chart</div>
        </div>
        <div class="chart">
        </div>
      </div>
    </div>
    <footer>
      <p>portfolio site</p>
    </footer>
  </body>
</html>