<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag 'custom', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <header>
    <h1>My Portfolio</h1>
    <%= link_to "ログアウト", logout_path, class: "button-logout", data: { "turbo-method": :delete } %>
  </header>
  <div class="toppage-container">
    <div class="profile">
      <div class="content">
        <div class="avatar">
            <%= image_tag @user.avatar, width: 200%>
          <% else %>
            <%= image_tag("default.png") %>
          <% end %>
        </div>
        <h5>自己紹介</h5>
        <div class="text">
        </div>
        <%= form_with(model: @user) do |f| %>
          <div class="input-group">
            <%= f.submit "自己紹介を編集する", class: "button_myedit" %>
          </div>
        <% end %>
      </div>
      <div class="avatar-name">
        <%= @user.name %>
      </div>
    </div>
    <div class="chart">
      <div class="frame1">
        <h6>学習チャート</h6>
        <%= form_with(model: @user) do |f| %>
          <div class="input-group">
            <%= f.submit "編集する", class: "button_edit" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <footer>
    <p>portfolio site</p>
  </footer>
</body>
</html>