<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <header>
    <h1>My Portfolio</h1>
  </header>
  <div class="login-container">
    <h2>ログイン</h2>
    <div id="flash-messages">
      <% if flash[:error].blank? %>
        <% flash.each do |key, message| %>
          <div class="flash <%= key %>"><%= message %></div>
        <% end %>
      <% end %>
    </div>
    <div class="input-group">
      <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
        <div class="input">
          <%= f.label :email, 'メールアドレス' %>
          <%= f.email_field :email, id: 'user_email' %>
        </div>
        <div class="input">
          <%= f.label :password, 'パスワード' %>
          <%= f.password_field :password, id: 'user_password' %>
        </div>
        <%= f.submit "ログインする", class: "button_login" %>
        <%= link_to "新規登録する", signup_path, class: "button_new" %>
      <% end %>
    </div>
  </div>
  <footer>
    <p>portfolio site</p>
  </footer>
</body>
</html>