<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag 'custom', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <header>
    <h3>自己紹介を編集する</h3>
  </header>
  <div class="login-container">
    <%= link_to "ログアウト", logout_path, class: "button-white" %>
    <div id="flash-messages">
      <% if flash[:error].blank? %>
        <% flash.each do |key, message| %>
          <div class="flash <%= key %>"><%= message %></div>
        <% end %>
      <% end %>
    </div>
    <div class="input-group">
      <%= form_with(url: login_path, model: @user, scope: :session) do |f| %>
        <div class="input">
          <%= f.text_area :introduction, '自己紹介文' %>
        </div>
        <span class="image">
          <%= f.label :avatar, 'アバター画像' %><br>
          <%= f.file_field :avatar, '画像ファイルを添付する', accept: "image/jpeg,image/gif,image/png" %>
        </span>
      <% end %>
      <%= link_to "自己紹介を確定する", new_user_path, class: "button-edit" %>
    </div>
  </div>
  <footer>
    <p>portfolio site</p>
  </footer>
</body>
</html>