<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag 'custom', media: 'all', 'data-turbolinks-track': 'reload' %>

</head>
<body>

  <script>
    //学習時間の入力フォーム
      //vanilla jsで親要素探索する用の関数
      function getParents(el, parentSelector /* optional */) {
          if (parentSelector === undefined) {
              return false;
          }

          var p = el.parentNode;

          while (!p.classList.contains(parentSelector)) {
              var o = p;
              p = o.parentNode;
          }
          return p;
      }

      document.addEventListener('click',function(e){
        e = e || window.event;
        var target = e.target || e.srcElement,
            text = target.textContent || target.innerText;

        var val = 0;

        //クリックしたDOMが.js-time-select-upだったら
        if(target.classList.contains('js-time-select-up')){
          val = 1;
        } else if(target.classList.contains('js-time-select-down')) {
          val = -1;
        } else {
          return false;
        }
        var parent = getParents(target,'js-time-select-area');//親の.js-time-select-areaを取得して
        var input = parent.querySelectorAll('.js-time-select');//親の.js-time-select-areaの子の.js-time-selectを取得して
        //Nodelistを回す
        for (let i = 0; i < input.length; i++) {
          if(input[i].classList.contains('js-time-select')){
            //.js-time-select持ってるDOMに対して
            var num = parseInt(input[i].value);
            num = isNaN(num) ? 0 : num;
            input[i].value = num + val < 0 ? 0 : num + val;
          }
        }

      },false);

    //月選択で画面表示切り替え
      function viewChange(){
          if(document.getElementById('sample')){
              id = document.getElementById('sample').value;
              if(id == 'select-month1'){
                  document.getElementById('Box1').style.display = "";
                  document.getElementById('Box2').style.display = "none";
                  document.getElementById('Box3').style.display = "none";
              }else if(id == 'select-month2'){
                  document.getElementById('Box1').style.display = "none";
                  document.getElementById('Box2').style.display = "";
                  document.getElementById('Box3').style.display = "none";
              }
              else if(id == 'select-month3'){
                  document.getElementById('Box1').style.display = "none";
                  document.getElementById('Box2').style.display = "none";
                  document.getElementById('Box3').style.display = "";
              }
          }

      window.onload = viewChange;
      }
  </script>

  <header>
    <h6><a href="<%= user_path(@user) %>">My Portfolio</a></h6>
    <%= link_to "ログアウト", logout_path, class: "button_logout", data: { "turbo-method": :delete } %>
  </header>
  <div class="wrapper-skill">
    <div class="month-select-area">
      <select class="pull-down-button" id="sample" onchange="viewChange();">
        <option value="select-month1"><%= Date.today.month %>月</option>
        <option value="select-month2"><%= Date.today.month % 12 - 1 %>月</option>
        <option value="select-month3"><%= Date.today.month % 12 - 2 %>月</option>
      </select>
    </div>

    <div id="Box1" class="my-5">
      <div class="category">
          <div class="content">
            <div class="title-group">
              <div class="title">バックエンド</div>
              <button class="button_blue">項目を追加する</button>
            </div>
            <%= form_with model: @learning_datum, url: user_skill_path(@user, @learning_datum), method: :patch, local: true do |f| %>
              <table class="teble-group">
                <thead>
                  <tr>
                    <th>項目名</th>
                    <th>学習時間</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Ruby</td>
                    <td>
                      <div class="time-select-area js-time-select-area">
                        <div class="__arrow __up js-time-select-up"></div>
                        <div class="__arrow __down js-time-select-down"></div>
                        <%= f.number_field :time, class:"time-select js-time-select", value: @learning_datum.time || 0 %>
                      </div>
                    </td>
                    <td>
                      <%= f.submit "学習時間を保存する", class:"button-blue-save" %>
                    </td>
                    <td><button class="button-red">削除する</button></td>
                  </tr>
                  <tr>
                    <td>Rails</td>
                    <td>
                      <div class="time-select-area js-time-select-area">
                        <div class="__arrow __up js-time-select-up"></div>
                        <div class="__arrow __down js-time-select-down"></div>
                        <% if @learning_datum.time.present? %>
                          <p class="time-select js-time-select"><%= @learning_datum.time %></p>
                        <% else %>
                          <%= f.number_field :time, class:"time-select js-time-select", value:0 %>
                        <% end %>
                      </div>
                    </td>
                    <td>
                      <%= f.submit "学習時間を保存する", class:"button-blue-save" %>
                    </td>
                    <td><button class="button-red">削除する</button></td>
                  </tr>
                  <tr>
                    <td>MySQL</td>
                    <td>
                      <div class="time-select-area js-time-select-area">
                        <div class="__arrow __up js-time-select-up"></div>
                        <div class="__arrow __down js-time-select-down"></div>
                        <input type="number" class="time-select js-time-select" value="0">
                      </div>
                    </td>
                    <td>
                      <%= f.submit "学習時間を保存する", class:"button-blue-save" %>
                    </td>
                    <td><button class="button-red">削除する</button></td>
                  </tr>
                </tbody>
              </table>
            <% end %>
          </div>
      </div>

      <div class="category">
        <div class="content">
          <div class="title-group">
            <div class="title">フロントエンド</div>
            <button class="button_blue">項目を追加する</button>
          </div>
          <table class="teble-group">
            <thead>
              <tr>
                <th>項目名</th>
                <th>学習時間</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <%= form_with model: @learning_datum, url: edit_user_skill_path(@user, @learning_datum), method: :patch, local: true do |f| %>
                  <tr>
                    <td>HTML</td>
                    <td>
                      <div class="time-select-area js-time-select-area">
                        <div class="__arrow __up js-time-select-up"></div>
                        <div class="__arrow __down js-time-select-down"></div>

                      </div>
                    </td>
                    <td>
                      <%= f.submit "学習時間を保存する", class:"button-blue-save" %>
                    </td>
                    <td><button class="button-red">削除する</button></td>
                  </tr>
                <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="category">
        <div class="content">
          <div class="title-group">
            <div class="title">インフラ</div>
            <button class="button_blue">項目を追加する</button>
          </div>
          <table class="teble-group">
            <thead>
              <tr>
                <th>項目名</th>
                <th>学習時間</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <%= form_with model: @learning_datum, url: edit_user_skill_path(@user, @learning_datum), method: :patch, local: true do |f| %>
                  <tr>
                    <td>Heroku</td>
                    <td>
                      <div class="time-select-area js-time-select-area">
                        <div class="__arrow __up js-time-select-up"></div>
                        <div class="__arrow __down js-time-select-down"></div>
                        <input type="number" class="time-select js-time-select" value="0">
                      </div>
                    </td>
                    <td>
                      <input type="submit" value="学習時間を保存する" class="button-blue-save">
                    </td>
                    <td><button class="button-red">削除する</button></td>
                  </tr>
                <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div id="Box2" class="my-5">
        <p>two</p>
    </div>

    <div id="Box3" class="my-5">
        <p>three</p>
    </div>

  </div>
</body>
</html>
