<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag 'custom', media: 'all', 'data-turbolinks-track': 'reload' %>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const monthSelect = document.getElementById('month-select');
      const currentDate = new Date();
      const currentMonth = currentDate.getMonth() + 1;

      for (let i = 0; i < 3; i++) {
        const option = document.createElement('option');
        let displayMonth = currentMonth - i;

        if (displayMonth <= 0) {
          displayMonth += 12;
        }

        option.value = displayMonth;
        option.text = displayMonth + '月';

        if (i === 0) {
          option.selected = true;
        }

        monthSelect.appendChild(option);
      }
    });
  </script>
</head>
<body>
  <header>
    <h6><a href="<%= user_path(@user) %>">My Portfolio</a></h6>
    <%= link_to "ログアウト", logout_path, class: "button_logout", data: { "turbo-method": :delete } %>
  </header>
  <div class="wrapper-skill">
    <div>
      <select id="month-select"></select>
    </div>

    <div class="category">
      <div class="content">
        <div class="title-group">
          <div class="title">バックエンド</div>
          <button class="button_blue">項目を追加する</button>
        </div>
        <table class="teble-group">
          <thead>
            <tr>
              <th>項目名</th>
              <th>学習時間</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Ruby</td>
              <td>
                <select class="time-select">
                  <% (1..60).each do |minute| %>
                    <option value="<%= minute %>"><%= minute %></option>
                  <% end %>
                </select>
              </td>
              <td><button class="button-blue-save">学習時間を保存する</button></td>
              <td><button class="button-red">削除する</button></td>
            </tr>
            <tr>
              <td>Rails</td>
              <td>
                <select class="time-select">
                  <% (1..60).each do |minute| %>
                    <option value="<%= minute %>"><%= minute %></option>
                  <% end %>
                </select>
              </td>
              <td><button class="button-blue-save">学習時間を保存する</button></td>
              <td><button class="button-red">削除する</button></td>
            </tr>
            <tr>
              <td>MySQL</td>
              <td>
                <select class="time-select">
                  <% (1..60).each do |minute| %>
                    <option value="<%= minute %>"><%= minute %></option>
                  <% end %>
                </select>
              </td>
              <td><button class="button-blue-save">学習時間を保存する</button></td>
              <td><button class="button-red">削除する</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="category">
      <div class="content">
        <div class="title-group">
          <div class="title">フロントエンド</div>
          <button class="button_blue">項目を追加する</button>
        </div>
        <table class="teble-group">
          <thead>
            <tr>
              <th>項目名</th>
              <th>学習時間</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>HTML</td>
              <td>
                <select class="time-select">
                  <% (1..60).each do |minute| %>
                    <option value="<%= minute %>"><%= minute %></option>
                  <% end %>
                </select>
              </td>
              <td><button class="button-blue-save">学習時間を保存する</button></td>
              <td><button class="button-red">削除する</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="category">
      <div class="content">
        <div class="title-group">
          <div class="title">インフラ</div>
          <button class="button_blue">項目を追加する</button>
        </div>
        <table class="teble-group">
          <thead>
            <tr>
              <th>項目名</th>
              <th>学習時間</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Heroku</td>
              <td>
                <select class="time-select">
                  <% (1..60).each do |minute| %>
                    <option value="<%= minute %>"><%= minute %></option>
                  <% end %>
                </select>
              </td>
              <td><button class="button-blue-save">学習時間を保存する</button></td>
              <td><button class="button-red">削除する</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>
