<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag 'custom', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <header>
    <h6><a href="<%= user_path(@user) %>">My Portfolio</a></h6>
    <%= link_to "ログアウト", logout_path, class: "button_logout", data: { "turbo-method": :delete } %>
  </header>
  <div class="login-container">
    <h2>{カテゴリー名}に項目を追加</h2>
    <div class="input-group">
      <%= form_with model: @learning_data, url: user_path(@user), method: :patch, local: true, html: { multipart: true } do |form| %>
        <div class="skill-field">
          <span class="skill-title">項目名</span>
          <%= form.text_field :skill, id: "skill" %>
        </div>
        <div class="image-field">
          <span class="skill-title">学習時間</span>
          <%= form.text_field :time, id: "skill" %>
          <span class="skill-title">分単位で入力してください</span>
        </div>
        <%= form.submit "追加する", class: "button-profile" %>
      <% end %>
    </div>
  </div>
  <footer>
    <p>portfolio site</p>
  </footer>
</body>
</html>