<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" data-controller="modal" id="responseModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <% case action_name %>
      <% when 'create' %>
        <div class="modal-body">
          <p><%= category.name %>に<%= learning_data.skill %>を</p>
          <p><%= learning_data.time %>分で追加しました！</p>
        </div>
        <div class="modal-footer">
          <%= link_to "編集ページに戻る", edit_user_learning_datum_path(learning_data.user, learning_data), class: "button_blue_modal", data: { action: "click->modal#navigateToEdit" } %>
        </div>
      <% when 'update' %>
        <div class="modal-body">
          <p><%= learning_data.skill %>の学習時間を保存しました！</p>
        </div>
        <div class="modal-footer">
          <%= link_to "編集ページに戻る", edit_user_learning_datum_path(learning_data.user, learning_data), class: "button_blue_modal", data: { action: "click->modal#navigateToEdit" } %>
        </div>
      <% when 'destroy' %>
        <div class="modal-body">
          <p><%= learning_data.skill %>を削除しました！</p>
        </div>
        <div class="modal-footer">
          <%= link_to "編集ページに戻る", edit_user_learning_datum_path(learning_data.user, learning_data), class: "button_blue_modal", data: { action: "click->modal#navigateToEdit" } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
