<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <header>
    <h6><a href="<%= user_path(@user) %>">My Portfolio</a></h6>
    <%= link_to "ログアウト", logout_path, class: "button_logout", data: { "turbo-method": :delete } %>
  </header>

  <div class="wrapper-skill">
    <!-- 月のセレクトボックス -->
    <div class="month-select-area">
      <select class="pull-down-button" id="pull-down-button" name="month" onchange="viewChange();">
        <option value="<%= @current_month %>"><%= Date.today.month %>月</option>
        <option value="<%= @last_month %>"><%= (Date.today - 1.month).month %>月</option>
        <option value="<%= @two_months_ago %>"><%= (Date.today - 2.months).month %>月</option>
      </select>
    </div>

    <div id="Box1" class="select-box">
      <div class="category">
        <div class="content">
          <div class="title-group">
            <div class="title">バックエンド</div>
            <%= link_to "項目を追加する", new_user_learning_datum_path(@user, month: @current_month_data.first.month, category_id: 1), class: "button_blue" %>
          </div>
          <div style="height:300px; overflow-y: auto;">
            <table class="table-group">
              <thead>
                <tr>
                  <th>項目名</th>
                  <th>学習時間</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% LearningDatum.where(category_id: 1, month: @current_month).each do |data| %>
                  <tr>
                    <td><%= data.skill %></td>
                    <%= form_with model: data, url: user_learning_datum_path(@user, data, month: params[:month]) do |f| %>
                      <%= hidden_field_tag :month, @current_month_data.first.month %>
                      <td>
                        <div class="time-select-area js-time-select-area">
                          <div class="__arrow __up js-time-select-up"></div>
                          <div class="__arrow __down js-time-select-down"></div>
                          <%= f.number_field :time, class:"time-select js-time-select" %>
                        </div>
                      </td>
                      <td>
                        <%= f.submit "学習時間を保存する", class:"button-blue-save" %>
                      </td>
                    <% end %>
                    <td>
                      <%= form_with model: data, url: user_learning_datum_path(@user, data), method: :delete do %>
                        <%= button_tag "削除する", class:"button-red" %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="category">
        <div class="content">
          <div class="title-group">
            <div class="title">フロントエンド</div>
            <%= link_to "項目を追加する", new_user_learning_datum_path(@user, month: @current_month_data.first.month, category_id: 2), class: "button_blue" %>
          </div>
          <div style="height:300px; overflow-y: auto;">
            <table class="table-group">
              <thead>
                <tr>
                  <th>項目名</th>
                  <th>学習時間</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% LearningDatum.where(category_id: 2, month: @current_month).each do |data| %>
                  <tr>
                    <td><%= data.skill %></td>
                    <%= form_with model: data, url: user_learning_datum_path(@user, data, month: params[:month]) do |f| %>
                      <%= hidden_field_tag :month, @current_month_data.first.month %>
                      <td>
                        <div class="time-select-area js-time-select-area">
                          <div class="__arrow __up js-time-select-up"></div>
                          <div class="__arrow __down js-time-select-down"></div>
                          <%= f.number_field :time, class:"time-select js-time-select", value: data.time %>
                        </div>
                      </td>
                      <td>
                        <%= f.submit "学習時間を保存する", class:"button-blue-save" %>
                      </td>
                    <% end %>
                    <td>
                      <%= form_with model: data, url: user_learning_datum_path(@user, data), method: :delete do %>
                        <%= button_tag "削除する", class:"button-red" %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="category">
        <div class="content">
          <div class="title-group">
            <div class="title">インフラ</div>
            <%= link_to "項目を追加する", new_user_learning_datum_path(@user, month: @current_month_data.first.month, category_id: 3), class: "button_blue" %>
          </div>
          <div style="height:300px; overflow-y: auto;">
            <table class="table-group">
              <thead>
                <tr>
                  <th>項目名</th>
                  <th>学習時間</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% LearningDatum.where(category_id: 3, month: @current_month).each do |data| %>
                  <tr>
                    <td><%= data.skill %></td>
                    <%= form_with model: data, url: user_learning_datum_path(@user, data, month: params[:month]) do |f| %>
                      <%= hidden_field_tag :month, @current_month_data.first.month %>
                      <td>
                        <div class="time-select-area js-time-select-area">
                          <div class="__arrow __up js-time-select-up"></div>
                          <div class="__arrow __down js-time-select-down"></div>
                          <%= f.number_field :time, class:"time-select js-time-select", value: data.time %>
                        </div>
                      </td>
                      <td>
                        <%= f.submit "学習時間を保存する", class:"button-blue-save" %>
                      </td>
                    <% end %>
                    <td>
                      <%= form_with model: data, url: user_learning_datum_path(@user, data), method: :delete do %>
                        <%= button_tag "削除する", class:"button-red" %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div id="Box2" class="select-box" style="display: none;">
      <div class="category">
        <div class="content">
          <div class="title-group">
            <div class="title">バックエンド</div>
            <%= link_to "項目を追加する", new_user_learning_datum_path(@user, month: @last_month_data.first.month, category_id: 1), class: "button_blue" %>
          </div>
          <div style="height:300px; overflow-y: auto;">
            <table class="table-group">
              <thead>
                <tr>
                  <th>項目名</th>
                  <th>学習時間</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% LearningDatum.where(category_id: 1, month: @last_month).each do |data| %>
                  <tr>
                    <td><%= data.skill %></td>
                    <%= form_with model: data, url: user_learning_datum_path(@user, data, month: params[:month]) do |f| %>
                      <%= hidden_field_tag :month, @current_month_data.first.month %>
                      <td>
                        <div class="time-select-area js-time-select-area">
                          <div class="__arrow __up js-time-select-up"></div>
                          <div class="__arrow __down js-time-select-down"></div>
                          <%= f.number_field :time, class:"time-select js-time-select", value: data.time %>
                        </div>
                      </td>
                      <td>
                        <%= f.submit "学習時間を保存する", class:"button-blue-save" %>
                      </td>
                    <% end %>
                    <td>
                      <%= form_with model: data, url: user_learning_datum_path(@user, data), method: :delete do %>
                        <%= button_tag "削除する", class:"button-red" %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="category">
        <div class="content">
          <div class="title-group">
            <div class="title">バックエンド</div>
            <%= link_to "項目を追加する", new_user_learning_datum_path(@user, month: @last_month_data.first.month, category_id: 2), class: "button_blue" %>
          </div>
          <div style="height:300px; overflow-y: auto;">
            <table class="table-group">
              <thead>
                <tr>
                  <th>項目名</th>
                  <th>学習時間</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% LearningDatum.where(category_id: 2, month: @last_month).each do |data| %>
                  <tr>
                    <td><%= data.skill %></td>
                    <%= form_with model: data, url: user_learning_datum_path(@user, data, month: params[:month]) do |f| %>
                      <%= hidden_field_tag :month, @current_month_data.first.month %>
                      <td>
                        <div class="time-select-area js-time-select-area">
                          <div class="__arrow __up js-time-select-up"></div>
                          <div class="__arrow __down js-time-select-down"></div>
                          <%= f.number_field :time, class:"time-select js-time-select", value: data.time %>
                        </div>
                      </td>
                      <td>
                        <%= f.submit "学習時間を保存する", class:"button-blue-save" %>
                      </td>
                    <% end %>
                    <td>
                      <%= form_with model: data, url: user_learning_datum_path(@user, data), method: :delete do %>
                        <%= button_tag "削除する", class:"button-red" %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="category">
        <div class="content">
          <div class="title-group">
            <div class="title">バックエンド</div>
            <%= link_to "項目を追加する", new_user_learning_datum_path(@user, month: @last_month_data.first.month, category_id: 3), class: "button_blue" %>
          </div>
          <div style="height:300px; overflow-y: auto;">
            <table class="table-group">
              <thead>
                <tr>
                  <th>項目名</th>
                  <th>学習時間</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% LearningDatum.where(category_id: 3, month: @last_month).each do |data| %>
                  <tr>
                    <td><%= data.skill %></td>
                    <%= form_with model: data, url: user_learning_datum_path(@user, data, month: params[:month]) do |f| %>
                      <%= hidden_field_tag :month, @current_month_data.first.month %>
                      <td>
                        <div class="time-select-area js-time-select-area">
                          <div class="__arrow __up js-time-select-up"></div>
                          <div class="__arrow __down js-time-select-down"></div>
                          <%= f.number_field :time, class:"time-select js-time-select", value: data.time %>
                        </div>
                      </td>
                      <td>
                        <%= f.submit "学習時間を保存する", class:"button-blue-save" %>
                      </td>
                    <% end %>
                    <td>
                      <%= form_with model: data, url: user_learning_datum_path(@user, data), method: :delete do %>
                        <%= button_tag "削除する", class:"button-red" %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div id="Box3" class="select-box" style="display: none;">
      <div class="category">
        <div class="content">
          <div class="title-group">
            <div class="title">バックエンド</div>
            <%= link_to "項目を追加する", new_user_learning_datum_path(@user, month: @two_months_ago_data.first.month, category_id: 1), class: "button_blue" %>
          </div>
          <div style="height:300px; overflow-y: auto;">
            <table class="table-group">
              <thead>
                <tr>
                  <th>項目名</th>
                  <th>学習時間</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% LearningDatum.where(category_id: 1, month: @two_months_ago).each do |data| %>
                  <tr>
                    <td><%= data.skill %></td>
                    <%= form_with model: data, url: user_learning_datum_path(@user, data, month: params[:month]) do |f| %>
                      <%= hidden_field_tag :month, @current_month_data.first.month %>
                      <td>
                        <div class="time-select-area js-time-select-area">
                          <div class="__arrow __up js-time-select-up"></div>
                          <div class="__arrow __down js-time-select-down"></div>
                          <%= f.number_field :time, class:"time-select js-time-select", value: data.time %>
                        </div>
                      </td>
                      <td>
                        <%= f.submit "学習時間を保存する", class:"button-blue-save" %>
                      </td>
                    <% end %>
                    <td>
                      <%= form_with model: data, url: user_learning_datum_path(@user, data), method: :delete do %>
                        <%= button_tag "削除する", class:"button-red" %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="category">
        <div class="content">
          <div class="title-group">
            <div class="title">バックエンド</div>
            <%= link_to "項目を追加する", new_user_learning_datum_path(@user, month: @two_months_ago_data.first.month, category_id: 2), class: "button_blue" %>
          </div>
          <div style="height:300px; overflow-y: auto;">
            <table class="table-group">
              <thead>
                <tr>
                  <th>項目名</th>
                  <th>学習時間</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% LearningDatum.where(category_id: 2, month: @two_months_ago).each do |data| %>
                  <tr>
                    <td><%= data.skill %></td>
                    <%= form_with model: data, url: user_learning_datum_path(@user, data, month: params[:month]) do |f| %>
                      <%= hidden_field_tag :month, @current_month_data.first.month %>
                      <td>
                        <div class="time-select-area js-time-select-area">
                          <div class="__arrow __up js-time-select-up"></div>
                          <div class="__arrow __down js-time-select-down"></div>
                          <%= f.number_field :time, class:"time-select js-time-select", value: data.time %>
                        </div>
                      </td>
                      <td>
                        <%= f.submit "学習時間を保存する", class:"button-blue-save" %>
                      </td>
                    <% end %>
                    <td>
                      <%= form_with model: data, url: user_learning_datum_path(@user, data), method: :delete do %>
                        <%= button_tag "削除する", class:"button-red" %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="category">
        <div class="content">
          <div class="title-group">
            <div class="title">バックエンド</div>
            <%= link_to "項目を追加する", new_user_learning_datum_path(@user, month: @two_months_ago_data.first.month, category_id: 3), class: "button_blue" %>
          </div>
          <div style="height:300px; overflow-y: auto;">
            <table class="table-group">
              <thead>
                <tr>
                  <th>項目名</th>
                  <th>学習時間</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% LearningDatum.where(category_id: 3, month: @two_months_ago).each do |data| %>
                  <tr>
                    <td><%= data.skill %></td>
                    <%= form_with model: data, url: user_learning_datum_path(@user, data, month: params[:month]) do |f| %>
                      <%= hidden_field_tag :month, @current_month_data.first.month %>
                      <td>
                        <div class="time-select-area js-time-select-area">
                          <div class="__arrow __up js-time-select-up"></div>
                          <div class="__arrow __down js-time-select-down"></div>
                          <%= f.number_field :time, class:"time-select js-time-select", value: data.time %>
                        </div>
                      </td>
                      <td>
                        <%= f.submit "学習時間を保存する", class:"button-blue-save" %>
                      </td>
                    <% end %>
                    <td>
                      <%= form_with model: data, url: user_learning_datum_path(@user, data), method: :delete do %>
                        <%= button_tag "削除する", class:"button-red" %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="modal"></div>

  <script>
    //学習時間の入力フォーム
    //vanilla jsで親要素探索する用の関数
    function getParents(el, parentSelector /* optional */) {
      if (parentSelector === undefined) {
          return false;
      }

      var p = el.parentNode;

      while (!p.classList.contains(parentSelector)) {
          var o = p;
          p = o.parentNode;
      }
      return p;
    }

    document.addEventListener('DOMContentLoaded', function() {
      setupEventListeners();
    });

    // 学習時間の調整イベントの設定
    function onTimeAdjustClick(e) {
      e = e || window.event;
      var target = e.target || e.srcElement;

      var val = 0;

      // クリックしたDOMが.js-time-select-upだったら
      if (target.classList.contains("js-time-select-up")) {
        val = 1;
      } else if (target.classList.contains("js-time-select-down")) {
        val = -1;
      } else {
        return false;
      }
      var parent = getParents(target, "js-time-select-area"); // 親の.js-time-select-areaを取得して
      var input = parent.querySelectorAll(".js-time-select"); // 親の.js-time-select-areaの子の.js-time-selectを取得して
      // Nodelistを回す
      for (let i = 0; i < input.length; i++) {
        if (input[i].classList.contains("js-time-select")) {
          //.js-time-select持ってるDOMに対して
          var num = parseInt(input[i].value);
          num = isNaN(num) ? 0 : num;
          input[i].value = num + val < 0 ? 0 : num + val;
        }
      }
    }

    // イベントリスナーの設定
    function setupEventListeners() {
      document.addEventListener("click", onTimeAdjustClick, false);
    }

    // イベントリスナーのリセット
    function resetEventListeners() {
      document.removeEventListener("click", onTimeAdjustClick, false);
      setupEventListeners(); // 再設定
    }

    //月選択で画面表示切り替え
    function viewChange(){
        if(document.getElementById('pull-down-button')){
            id = document.getElementById('pull-down-button').value;
            if(id == '<%= @current_month %>'){
                document.getElementById('Box1').style.display = "block";
                document.getElementById('Box2').style.display = "none";
                document.getElementById('Box3').style.display = "none";
            }else if(id == '<%= @last_month %>'){
                document.getElementById('Box1').style.display = "none";
                document.getElementById('Box2').style.display = "block";
                document.getElementById('Box3').style.display = "none";
            }
            else if(id == '<%= @two_months_ago %>'){
                document.getElementById('Box1').style.display = "none";
                document.getElementById('Box2').style.display = "none";
                document.getElementById('Box3').style.display = "block";
            }
        }
    }
  </script>
</body>
</html>
